/* You can add global styles to this file, and also import other style files */

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 10px auto;
  width: 80vh;
  height: 80vh;
  background: linear-gradient(180deg, #242424, #1b1a1a);
  color: #b8b8b8;
  /* border: 2px solid blue; */
}
